[is='navigation-main'] {
  background-color: $c-bg;
  display: flex;
  flex-direction: column;
  height: 4.75rem;
  justify-content: center;
  padding: 0 $global-container-padding-s;

  @media (min-width: $breakpoint-s) {
    padding: 0 $global-container-padding-m;
  }

  @media (min-width: $breakpoint-m) {
    height: 5.5rem;
  }

  @media (min-width: $breakpoint-l) {
    padding: 0 $global-container-padding-l;
  }

  .home & {
    background-color: transparent;
  }

  &.headroom {
    $block: 'headroom';
    $nav-height-default: 88px;

    left: 0;
    opacity: 1;
    position: fixed;
    top: 0;
    transition: transform 300ms ease-out, opacity 200ms;
    visibility: visible;
    width: 100%;
    z-index: 99;

    &-isUnpinned {
      @media (min-width: $breakpoint-m) {
        transform: translateY(-$nav-height-default);
      }
    }

    &-isNotTop.#{$block}-isPinned {
      @media (min-width: $breakpoint-m) {
        transform: translateY(-($nav-height-default));
      }
    }
  }

  .navigation-main {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    line-height: 1.25;
  }

  .brand {
    color: $c-nav-link;
    font-size: 0.9375rem;
    text-decoration: none;
    width: 170px;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  .toggle {
    background-color: transparent;
    border: 0;
    bottom: 20px;
    color: $c-ico-link;
    height: 18px;
    left: $global-container-padding-s;
    padding: 0;
    position: fixed;
    width: 24px;
    z-index: 99;

    svg {
      display: block;
    }

    &:hover,
    &:focus {
      color: $c-ico-hover;
      cursor: pointer;
    }

    @media (min-width: $breakpoint-xs) {
      bottom: 24px;
    }

    @media (min-width: $breakpoint-s) {
      left: $global-container-padding-m;
    }

    @media (min-width: $breakpoint-m) {
      display: none;
    }
  }

  .menu {
    display: none;

    @at-root .snippet-isOpen#{&} {
      align-items: center;
      background-color: #051d87;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      left: 0;
      line-height: 2.5;
      position: fixed;
      right: 0;
      top: 0;
      z-index: 77;
    }

    @media (min-width: $breakpoint-m) {
      display: flex;
      justify-content: flex-end;
    }

    &-main,
    &-lang {
      width: 140px;

      @media (min-width: $breakpoint-m) {
        width: auto;
      }
    }

    &-main {
      @import 'partials/main/style';

      @media (min-width: $breakpoint-m) {
        margin-top: 2px;
      }
    }

    &-lang {
      bottom: 18px;
      height: 24px;
      margin: 0;
      position: absolute;
      right: $global-container-padding-s;
      width: 24px;

      @media (min-width: $breakpoint-xs) {
        bottom: 20px;
      }

      @media (min-width: $breakpoint-s) {
        right: $global-container-padding-m;
      }

      @media (min-width: $breakpoint-m) {
        display: none;
      }

      @import 'partials/lang/style';
    }
  }
}
