.list {
  list-style: none;
  margin: 0;
  padding: 0;

  &-link {
    &,
    &:visited {
      color: $c-nav-link;
      outline: 0;
      text-decoration: none;
    }

    &:hover,
    &:focus {
      color: $c-nav-hover;
      outline: 0;
    }
  }
}
