root = true

[*]
charset = utf-8
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
indent_size = 2
end_of_line = lf

[*.ahk]
end_of_line = crlf
[*.bat]
end_of_line = crlf
[*.cmd]
end_of_line = crlf

[app/templates/*.php]
indent_size = 2

[app/snippets/**/index.php]
indent_size = 2

[*.php]
indent_size = 4

[*.svg]
insert_final_newline = false
