# FOLDER
node_modules
data
dist
backup

# FILES
.vscode

# GIT/LOGS/DB
*.git
*.log
*.sql
*.sqlite

# PACKAGES
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# SYSTEM
._*
.DS_Store
.AppleDouble
.LSOverride
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
.apdisk
Network Trash Folder
Temporary Items
Icon
