# OSX system files #
####################
.DS_Store
.DS_Store?
.vscode
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Git #
#######

*.git

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sql
*.sqlite
/readme.html
/license.txt

# Temporary #
#############
tmp
.grunt

# PHPStorm #
############

.idea/

# NPM & BOWER #
###############

node_modules/
bower_components/
dist/

# SASS #
########

.sass-cache/
*.css.map

# Composer #
############

composer.phar
composer.lock
vendor/

# CUSTOM #
##########

glp/
src/thumbs/
src/site/accounts/
bootstrap.bundle.min.js
bootstrap.bundle.min.js.map
main.min.css
