// Colors

$c-white        :   #fff;

$c-1            :   #C8CBD2;
$c-2            :   #B4B7BF;

$c-bg           :   #062299;

$c-headline     :   #fff;
$c-text         :   #fff;
$c-link         :   #fff;
$c-hover        :   #18181A;

$c-nav-link     :   #7A95FF;
$c-nav-hover    :   #FFF;
$c-nav-active   :   #FFF;
$c-nav-bg       :   #FFF;

$c-btn-link     :   #18181A;
$c-btn-hover    :   #F8F7CB;

$c-ico-link     :   #FFF;
$c-ico-hover    :   #18181A;

$c-bg-object    :   #FFF;
