
/*  Layout Styles
    =================================================== */

html {
    background-color: $c-bg;
}
body {

    position: relative;
    height: 100vh;

    background-color: $c-bg;
}
.header-main {

    padding: 15px 0;
    @media screen and (min-width: 840px) {

        padding: 20px 0;
    }
    .logo {

        width: 140px;


        @media screen and (min-width: 840px) {

            padding-left: 5px;
        }

        float: left;
        font-size: 15px;
        line-height: 18px;

        text-transform: uppercase;

        a {
            color: #fff;


            &:hover {

                color: $c-nav-hover;
                text-decoration: underline;
            }
            &.active {

                text-decoration: underline;

                &:hover {

                    color: $c-nav-hover;
                }
            }
        }
    }
    .company-contact {

        float: right;
        p {
            line-height: 18px;

            a {

                display: block;
                text-align: right;

                &:hover {

                    color: $c-nav-hover;
                    text-decoration: underline;
                }
            }
            .tel {

                cursor: default;

                &:hover {

                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }
}
main {

    padding-top: 40px;
    padding-bottom: 40px;

    @media screen and (min-width: 840px) {

        padding-top: 100px;
    }

    .title {

        margin-bottom: 20px;

        @media screen and (min-width: 840px) {

            margin-bottom: 60px;
        }
    }
    .intro {

        padding-bottom: 10px;
        clear: left;
    }
    .services-sub {

        padding-top: 20px;
    }
}
