
/*  Layout Styles
    =================================================== */

html {

    background-color: $c-bg;
}
body {

    position: relative;
    height: 100vh;

    background-color: $c-bg;
}
ul {

    list-style-position: inside;

    padding: 0 0 0 0;
    margin-left: 10px;

    @include media-breakpoint-up(sm) {

        padding: 0 0 0 0;
    }
    @include media-breakpoint-up(md) {

        padding: 0 0 0 10px;
    }
    @include media-breakpoint-up(lg) {

        padding: 0 0 0 20px;
    }
    li {

        font-size: 14px;
    }
}
.header-main {

    padding: 15px 0;

    @media screen and (min-width: 840px) {

        padding: 20px 0;
    }
    .logo {

        font-size: 15px;
        line-height: 18px;
        text-transform: uppercase;

        float: left;
        width: 140px;

        @media screen and (min-width: 840px) {

            padding-left: 5px;
        }
        a {

            color: $c-nav-link;

            &:hover {

                color: $c-nav-hover;
                text-decoration: underline;
            }
            &.active {

                text-decoration: underline;

                &:hover {

                    color: $c-nav-hover;
                }
            }
        }
    }
}
.company-contact {

    background-color: #051D87;

    position: fixed;
    bottom: 0;
    right: 0;

    width: 100%;

    padding: 15px 15px 13px 0;

    z-index: 777;

    @include media-breakpoint-up(md) {

        background-color: transparent;

        bottom: 15px;
        right: 15px;

        width: auto;
        padding: 0;
    }

    p {

        font-size: 14px;
        line-height: 18px;
        padding-left: 60px;

        a {

            display: block;
            text-align: right;

            &:hover {

                color: $c-nav-hover;
                text-decoration: underline;
            }
        }
        .tel {

            cursor: default;

            &:hover {

                color: $c-nav-link;
                text-decoration: none;
            }
        }
    }
}
main {

    padding-top: 35px;
    padding-bottom: 100px;

    @include media-breakpoint-up(xs) {

        padding-top: 60px;
        padding-bottom: 60px;
    }

    @include media-breakpoint-up(sm) {

        padding-top: 75px;
        padding-bottom: 60px;
    }
    @include media-breakpoint-up(md) {

        padding-top: 90px;
    }
    @include media-breakpoint-up(lg) {

        padding-top: 140px;
    }
    .title {

        margin-bottom: 30px;

        @media screen and (min-width: 840px) {

            margin-bottom: 40px;
        }
    }
    .intro {

        margin-bottom: 30px;

        @include media-breakpoint-up(sm) {

            margin-bottom: 40px;
        }
        @include media-breakpoint-up(lg) {

            margin-bottom: 50px;
        }

    }
    .heading-services-sub {

        font-size: 15px;
        margin-bottom: 20px;
    }
}
