// Typo

html {

    font-size: 15px;
    line-height: 25px;
}
body {

    font-family: 'Simplon', Arial, sans-serif;
    font-weight: lighter;
    font-style: normal;

    color: $c-text;
}
p {

    font-size: 14px;

    margin: 0;
    line-height: 24px;

    @include media-breakpoint-up(md) {

        font-size: 15px;
    }
}
a {

    color: $c-link;
}
h1, h2, h3, h4, h5 {

    font-family: 'Simplon';
    font-weight: 600;
    font-style: inherit;

    color: $c-headline;

    margin: 0;
}
h1 {

    font-size: 16px;
    line-height: 20px;
    font-weight: 300;

    @include media-breakpoint-up(sm) {

        font-size: 18px;
    }
    @include media-breakpoint-up(md) {

        font-size: 20px;
        line-height: 30px;
    }
    @include media-breakpoint-up(lg) {

        font-size: 24px;
        line-height: 30px;
    }
    @include media-breakpoint-up(xl) {

        font-size: 26px;
        line-height: 40px;
    }
}
h2 {

    font-size: 15px;
    margin-bottom: 25px;
}
