// Typo

html {

    font-size: 15px;
    line-height: 25px;
}
body {

    font-family: 'Simplon', Arial, sans-serif;
    font-weight: lighter;
    font-style: normal;

    color: $c-text;
}
p {

    margin: 0;
    line-height: 25px;
}
a {

    color: $c-link;
}
h1, h2, h3, h4, h5 {

    font-family: 'Simplon';
    font-weight: 600;
    font-style: inherit;

    color: $c-headline;

    margin: 0;
}
h1 {

    font-size: 18px;
    line-height: 32px;
    font-weight: 300;

    @media screen and (min-width: 544px) {

        font-size: 20px;
        line-height: 40px;

    }
    @media screen and (min-width: 768px) {

        font-size: 22px;
        line-height: 56px;

    }
    @media screen and (min-width: 992px) {

        font-size: 30px;
        line-height: 64px;

    }
    @media screen and (min-width: 1200px) {

        font-size: 40px;
        line-height: 64px;
    }
}
