
/*  Layout Styles
    =================================================== */

html {

    background-color: $c-bg;
    // border: 20px solid white;

    // height: 100vh;
}
body {

    background-color: $c-bg;

    position: relative;
    height: 100vh;
}
ul {

    list-style-position: inside;

    padding: 0 0 0 0;
    margin-left: 10px;

    @include media-breakpoint-up(sm) {

        padding: 0 0 0 0;
    }
    @include media-breakpoint-up(md) {

        padding: 0 0 0 10px;
    }
    @include media-breakpoint-up(lg) {

        padding: 0 0 0 20px;
    }
    li {

        font-size: 14px;
    }
}
.header-main {

    padding: 20px 0;

    @include media-breakpoint-up(md) {

        padding: 35px 0;
    }
    .logo {

        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;

        float: left;
        width: 180px;

        @include media-breakpoint-up(md) {

            padding-left: 10px;
        }
        a {

            color: $c-nav-link;

            &:hover {

                color: $c-nav-hover;
                text-decoration: underline;
            }
            &:visited {

                color: $c-nav-link;
                text-decoration: none;
            }
            &.active {

                text-decoration: underline;

                &:hover {

                    color: $c-nav-hover;
                }
            }
        }
    }
}
.company-contact {

    background-color: #051D87;

    position: fixed;
    bottom: 0;
    right: 0;

    width: 100%;

    padding: 19px 15px 17px 0;

    z-index: 777;

    @include media-breakpoint-up(md) {

        background-color: transparent;

        bottom: 17px;
        right: 25px;

        width: auto;
        padding: 0;
    }
    p {

        font-size: 14px;
        line-height: 18px;
        padding-left: 60px;

        a {

            display: block;
            text-align: right;
            line-height: 19px;

            &:hover {

                color: $c-nav-hover;
                text-decoration: underline;
            }
        }
        .tel {

            cursor: default;

            &:hover {

                color: $c-nav-link;
                text-decoration: none;
            }
        }
    }
}
main {

    padding-top: 12vh;
    padding-bottom: 80px;

    @include media-breakpoint-up(sm) {

        // padding-bottom: 130px;
    }
    @include media-breakpoint-up(md) {

        // padding-top: 90px;
    }
    @include media-breakpoint-up(lg) {

        // padding-top: 100px;
    }
    @include media-breakpoint-up(xl) {

        // padding-top: 120px;
    }
    .title {

        margin-bottom: 30px;

        @include media-breakpoint-up(xs) {

            margin-bottom: 35px;
        }
        @include media-breakpoint-up(sm) {

            margin-bottom: 40px;
        }
        @include media-breakpoint-up(md) {

            margin-bottom: 40px;
        }
        @include media-breakpoint-up(lg) {

            margin-bottom: 50px;
        }
    }
    .intro {

        margin-bottom: 40px;

        @include media-breakpoint-up(xs) {

            margin-bottom: 45px;
        }
        @include media-breakpoint-up(sm) {

            margin-bottom: 50px;
        }
        @include media-breakpoint-up(md) {

            margin-bottom: 50px;
        }
        @include media-breakpoint-up(lg) {

            margin-bottom: 50px;
        }
        @include media-breakpoint-up(xl) {

            margin-bottom: 55px;
        }
    }
}
