.select {
  background-image: url('../../base/assets/icons/ico-ui-earth-24x24.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  border: 0;
  font-size: 0;
  height: 24px;
  padding: 0;
  width: 24px;
}
