//  Navigation

.nav-main {

    position: fixed;
    top: auto;
    bottom: 25px;
    left: 15px;

    width: 12px;
    height: 20px;

    overflow: visible;
    z-index: 999;

    @include media-breakpoint-up(md) {

        position: absolute;
        bottom: auto;
        left: auto;
        top: 0;
        right: 25px;

        height: auto;
        width: auto;

        overflow: auto;
    }
    .menu {

        display: none;

        list-style: none;

        padding: 100px 0 0 80px;
        margin: 0;

        background: #041873;
        opacity: 0;
        visibility: hidden;

        overflow-y: scroll;
        overflow-x: hidden;

        height: 100%;

        transform: translate3d(0, 0, 0);
        transition: all .5s cubic-bezier(0.80, 0.05, 0.35, 1.00);

        @include media-breakpoint-up(sm) {

            padding: 220px 0 0 220px;
        }
        @include media-breakpoint-up(md) {

            display: block;

            background: transparent;
            opacity: 1;
            visibility: visible;

            position: relative;
            padding: 0;

            height: auto;
            width: auto;
        }
        .menu-item {

            float: none;
            margin-right: 0;

            line-height: 40px;

            @include media-breakpoint-up(md) {

                float: left;
                margin-right: 32px;

                line-height: 16px;

                &:last-child {

                    margin-right: 0;
                }
            }
            a {

                font-family: 'Simplon';
                font-size: 14px;
                line-height: 16px;
                font-weight: 300;
                text-decoration: none;
                text-align: center;
                color: $c-nav-link;

                @include media-breakpoint-up(md) {

                    text-align: left;
                }
                &:hover {

                    color: $c-nav-hover;
                }
                &.active {

                    color: $c-nav-active;
                }
            }
        }
    }
}
.nav-sub {

    width: 100%;

    .menu-sub {

        list-style: none;
        overflow: auto;

        display: block;

        margin: 0;
        padding-left: 0;

        li {

            text-indent: 0;

            float: left;
            margin-bottom: 15px;

            @include media-breakpoint-up(sm) {

                margin-bottom: 30px;
            }
            @include media-breakpoint-up(md) {

                // margin-bottom: 20px;
            }
            @include media-breakpoint-up(lg) {

                // margin-bottom: 25px;
            }
            @include media-breakpoint-up(xl) {

            }
            a {

                font-family: 'Simplon';
                font-size: 14px;
                line-height: 100px;
                font-weight: 300;
                text-decoration: none;
                text-align: center;

                color: $c-nav-link;
                border: 1px solid #03176E;

                display: block;
                height: 100px;
                padding: 0 15px;

                &:hover {

                    border-color: $c-nav-hover;
                }

                @include media-breakpoint-up(sm) {

                    line-height: 130px;

                    height: 130px;
                    padding: 0 20px;
                }
                @include media-breakpoint-up(md) {

                    line-height: 140px;

                    height: 140px;
                    padding: 0;
                }
                @include media-breakpoint-up(lg) {

                    font-size: 15px;

                }
                @include media-breakpoint-up(xl) {


                }
            }
        }
    }
}

html.open {

    overflow: hidden;

    .nav-main {

        top: 0;
        left: 0;
        bottom: auto;

        z-index: 999;

        width: 100vw;
        height: 100vh;
    }

    .menu {

        display: block;

        opacity: 1;
        visibility: visible;
        transition: all .5s cubic-bezier(0.80, 0.05, 0.35, 1.00);
    }
    #btn-menu {

        position: fixed;
        bottom: 25px;
        left: 15px;

        z-index: 999;
    }

    #ico-object-top {

        transform: translateY(9px);
    }
    #ico-object-bottom {

        transform: translateY(-9px);
    }
}

#btn-menu {

    background-color: transparent;
    color: white;

    height: 20px;

    position: static;

    z-index: 2;

    @include media-breakpoint-up(md) {

        display: none;
    }
}
