[is='navigation-footer'] {
  display: none;

  @media (min-width: $breakpoint-m) {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .container {
      margin: 0;
      max-width: none;
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }

    .menu {
      &-lang {
        @import 'partials/lang/style';
      }
    }
  }
}
