[is='navigation-main'] {
  .navigation-main {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    line-height: 1.25;
  }

  .brand {
    color: $c-nav-link;
    text-decoration: none;
    width: 180px;

    &:hover,
    &:focus {
      outline: 0;
      text-decoration: underline;
    }
  }

  .toggle {
    background: url('../base/assets/icons/icon-menu.svg') no-repeat center;
    background-size: 16px 11px;
    border: 0;
    bottom: 1.5625rem;
    height: 33px;
    left: 1rem;
    position: fixed;
    width: 32px;
    z-index: 99;

    @media (min-width: $breakpoint-m) {
      display: none;
    }
  }

  .menu {
    display: none;

    @at-root .snippet-isOpen#{&} {
      align-items: center;
      background-color: #051d87;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      left: 0;
      line-height: 1.875;
      position: fixed;
      right: 0;
      top: 0;
      z-index: 77;
    }

    @media (min-width: $breakpoint-m) {
      display: flex;
      justify-content: flex-end;
    }

    &-main,
    &-lang {
      width: 140px;

      @media (min-width: $breakpoint-m) {
        width: auto;
      }
    }

    &-main {
      @import 'partials/main/style';
    }

    &-lang {
      margin: 0;

      @media (min-width: $breakpoint-m) {
        margin: 0 0 0 4rem;
      }

      &:first-child {
        margin-left: 0;
      }

      @import 'partials/lang/style';
    }
  }
}
