[is='block-map'] {
  margin: 4rem 0 0;

  @media (min-width: $breakpoint-s) {
    margin-top: 5rem;
  }

  @media (min-width: $breakpoint-xl) {
    margin-top: 6rem;
  }

  &:first-child {
    margin-top: 0;
  }

  .container {
    margin: 0;
    max-width: none;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  #map { /* stylelint-disable-line */
    background-color: #062299;
    height: 75vh;
    width: 100%;

    @media (min-width: $breakpoint-m) {
      height: 75vh;
    }
  }
}
