[data-is='block-map'] {
  #map { /* stylelint-disable-line */
    background-color: #062299;
    height: 75vh;
    width: 100vw;

    @media (min-width: $breakpoint-m) {
      height: 75vh;
      width: 100vw;
    }
  }
}
