.list {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $breakpoint-s) {
    @include grid-scale(2, center, 1rem, 1rem);
  }

  @media (min-width: $breakpoint-l) {
    @include grid-scale(3, center, 1.25rem, 1.25rem);
  }

  &-item {
    margin: 0;

    @media (max-width: $breakpoint-s) {
      margin: 1rem 0 0;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &-link {
    background-color: $c-bg;
    border: 1px solid #03176e;
    display: block;
    padding: 2.5rem;
    text-align: center;

    @media (min-width: $breakpoint-m) {
      padding: 3rem;
    }

    &,
    &:visited {
      color: $c-nav-link;
      outline: 0;
      text-decoration: none;
    }

    &:hover,
    &:focus {
      border-color: $c-nav-hover;
      color: $c-nav-hover;
      outline: 0;
    }
  }
}
