//  Home

#home {

    background: url(../images/logo_2017.svg) no-repeat center;
    background-size: 160px;

    height: 86vh;

    @include media-breakpoint-up(sm) {

        background-size: 180px;
        height: 100vh;
    }
    @include media-breakpoint-up(md) {

        background-size: 220px;
    }
    @include media-breakpoint-up(lg) {

        background-size: 240px;
    }
}
