//  Contact

#contact {

    .title {

    }

    .intro {


        a {

            color: $c-nav-link;
            text-decoration: none;

            &:hover {

                color: $c-nav-hover;
                text-decoration: underline;
            }
        }
    }
    .content {

        .contact-channel {

            margin-bottom: 30px;

            @media screen and (min-width: 840px) {

                margin-bottom: 0;
            }
        }
        a {

            color: $c-white;
            text-decoration: none;

            &:hover {

                color: $c-nav-hover;
                text-decoration: underline;
            }
        }
    }
}
