//  Contact

#contact {

    main {

        padding-bottom: 74px;

        .title {

        }

        .intro {


            a {

                color: $c-nav-link;
                text-decoration: none;

                &:hover {

                    color: $c-nav-hover;
                    text-decoration: underline;
                }
            }
        }
        .content {

            .contact-channel {

                margin-bottom: 30px;

                @include media-breakpoint-up(md) {

                    margin-bottom: 0;
                }
            }
            a {

                color: $c-white;
                text-decoration: none;

                &:hover {

                    color: $c-nav-hover;
                    text-decoration: underline;
                }
            }
        }

        #gmap {

            background-color: #062299;

            width: 100vw;
            height: 75vh;

            margin-top: 60px;

            @include media-breakpoint-up(md) {

                width: 75vw;
                height: 65vh;

                margin-top: 120px;
            }
        }
    }
}
