//  Contact

.contact .intro {



}
#contact {

    .title {

    }

    .intro {

        padding-bottom: 60px;

        a {

            color: $c-nav-link;
            text-decoration: none;

            &:hover {

                color: $c-nav-hover;
                text-decoration: underline;
            }
        }
    }
    .content {

        a {

            color: $c-white;
            text-decoration: none;

            &:hover {

                color: $c-nav-hover;
                text-decoration: underline;
            }
        }
    }
}
