////////////////////////////////////////////////////////////////////////////////
// DOCUMENT
////////////////////////////////////////////////////////////////////////////////

.app {
  height: 100%;
  position: relative;

  body {
    height: 100%;
    margin: 0;
  }

  &-main {
    height: 100%;
  }

  &-side {
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
  }
}

.document {
  padding: 8rem 0 6rem;

  @media (min-width: $breakpoint-xs) {
    padding: 9rem 0 8rem;
  }

  @media (min-width: $breakpoint-s) {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 20%;
    padding-top: 20%;
  }

  @media (min-width: $breakpoint-l) {
    padding-bottom: 16%;
    padding-top: 16%;
  }

  .home & {
    display: flex;
    flex-direction: column;
    min-height: 85vh;
    padding-bottom: 0;
    padding-top: 0;
  }

  .contact & {
    display: block;
    padding-bottom: 3.75rem;

    @media (min-width: $breakpoint-xs) {
      padding-bottom: 5.5rem;
      padding-top: 10rem;
    }

    @media (min-width: $breakpoint-l) {
      padding-top: 12rem;
    }
  }

  &-layout {
    margin-bottom: auto;
    margin-top: auto;
  }

  &-footer {
    background-color: #051d87;
    bottom: 0;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 44;

    .home & {
      background-color: transparent;
    }

    @media (min-width: $breakpoint-xs) {
      height: 72px;
    }

    @media (min-width: $breakpoint-m) {
      height: auto;
    }
  }
}
