////////////////////////////////////////////////////////////////////////////////
// INTERACTION
////////////////////////////////////////////////////////////////////////////////

a,
button {
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
}

// BUTTON
// -------------------------------------------------------------

.button {
  appearance: none;
  background: #d95a2b;
  border: 0;
  border-radius: 100em;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  outline: 0;
  padding: 1em calc(1.5em + 32px) 0.9em 1.5em;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 200ms ease-in-out;

  &:hover,
  &:focus,
  &:active {
    background: #8c3c2a;
  }

  &::after {
    background: center / 24px 24px no-repeat;
    border-radius: 100em;
    bottom: 0;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 48px;
  }

  &--external {
    // &::after {
    //   background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="31.408" height="33.919" viewBox="0 0 31.408 33.919"><g transform="translate(-1008.919 -965.628)"><g transform="translate(1046.174 2398.574) rotate(-135)"><path d="M0,0,7.879,7.879,0,15.759" transform="translate(1025.259 990.17) rotate(90)" fill="none" stroke="%23fff" stroke-width="3"/><line y2="16.032" transform="translate(1017.516 980.5)" fill="none" stroke="%23fff" stroke-width="3"/></g><path d="M10683.643,5322.808v10.24h-20.386v-21.215h7.446" transform="translate(-9652.838 -4335)" fill="none" stroke="%23fff" stroke-width="3"/></g></svg>');
    // }
  }
}

// BADGE
// -------------------------------------------------------------

.badge {
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 2px;
  display: inline-block;
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: 1.15;
  padding: 0.5625rem 1rem;
  text-align: center;
  transition: background-color 250ms, border-color 250ms;
  vertical-align: middle;
  white-space: nowrap;

  @at-root a#{&} {
    &,
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  &--solid {
    background-color: $c-btn-link;
    border-color: $c-btn-link;

    @at-root a#{&} {
      color: $c-btn-link;

      &:hover,
      &:focus {
        background-color: $c-btn-hover;
        border-color: $c-btn-hover;
        color: $c-hover;
      }
    }
  }

  &--outline {
    background-color: rgba($c-white, 0);
    border-color: $c-white;

    @at-root a#{&} {
      color: $c-white;

      &:hover,
      &:focus {
        background-color: $c-btn-hover;
        border-color: $c-btn-hover;
        color: $c-hover;
      }
    }
  }

  &-isActive {
    background-color: $c-btn-hover;
    border-color: $c-btn-hover;
    color: $c-hover;
  }

  &--pill {
    border-radius: 10rem;
    padding-left: 1.625rem;
    padding-right: 1.625rem;
  }
}

// FORM
// -------------------------------------------------------------

// GENERAL

label,
input,
select,
textarea,
option {
  font-family: inherit;
  font-size: inherit;
  line-height: 1.25;

  &::placeholder {
    color: #999;
    font-size: inherit;
    font-weight: 400;
  }

  &:focus {
    outline: 0;
  }
}

// FIELD

$input-padding-vertical: 5px;
$input-padding-horizontal: 10px;
$input-padding: ($input-padding-vertical + 1px) $input-padding-horizontal $input-padding-vertical $input-padding-horizontal;

input:not([type='checkbox']):not([type='radio']),
select,
textarea {
  appearance: none;
  background-color: transparent;
  border: 1px solid $c-white;
  border-radius: 0;
  color: $c-white;
  display: block;
  font-size: 0.875rem;
  line-height: 1.25;
  padding: $input-padding;

  &:hover,
  &:focus {
    border-color: $c-btn-hover;
    color: $c-white;
    cursor: pointer;
  }
}
