card-contact.snippet {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .details {
    text-align: right;

    &-tel,
    &-mail {
      color: $c-white;
      display: block;
      font-size: 0.9375rem;

      &:hover,
      &:focus {
        color: $c-nav-hover;
      }
    }
  }
}
