//  Navigation

.nav-main {

    position: fixed;
    top: auto;
    bottom: 15px;
    right: 15px;

    width: 12px;
    height: 20px;

    overflow: visible;

    @media screen and (min-width: 840px) {

        position: absolute;
        bottom: auto;
        top: 0;
        right: 20px;

        height: auto;
        width: auto;

        overflow: auto;
    }
    .menu {

        display: none;

        list-style: none;

        padding: 140px 0 0 80px;
        margin: 0;

        background: #041873;
        opacity: 0;
        visibility: hidden;

        overflow-y: scroll;
        overflow-x: hidden;

        height: 100%;

        transform: translate3d(0, 0, 0);
        transition: all .5s cubic-bezier(0.80, 0.05, 0.35, 1.00);

        @media screen and (min-width: 840px) {

            display: block;

            background: transparent;
            opacity: 1;
            visibility: visible;

            position: relative;
            padding: 0;

            height: auto;
            width: auto;
        }
        .menu-item {

            float: left;
            margin-right: 20px;

            line-height: 18px;

            &:last-child {

                margin-right: 0;
            }
            a {

                font-family: 'Simplon';
                font-size: 15px;
                line-height: 18px;
                font-weight: 300;
                text-decoration: none;
                text-align: center;
                color: $c-nav-link;

                @media screen and (min-width: 840px) {

                    text-align: left;
                }

                &:hover {

                    color: $c-nav-hover;
                    text-decoration: underline;
                }
                &.active {


                    text-decoration: underline;

                    &:hover {

                        color: $c-nav-hover;
                    }
                }
            }
        }
    }
}
.nav-sub {

    .menu-sub {

        list-style: none;
        overflow: auto;

        display: block;
        margin-bottom: 0;
        padding-left: 0;

        li {

            float: left;
            margin-right: 20px;
            margin-bottom: 20px;

            a {

                font-family: 'Simplon';
                font-size: 15px;
                line-height: 116px;
                font-weight: 300;
                text-decoration: none;

                color: $c-nav-link;
                border: 3px solid #031A7F;

                display: block;
                height: 120px;
                padding: 0 50px;

                &:hover {

                    border-color: white;
                }
                &.active {

                    text-decoration: underline;
                    color: #FFF;
                    border-color: white;

                    &:hover {

                        color: $c-nav-hover;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

html.open {

    overflow: hidden;

    .nav-main {

        top: 0;
        left: 0;
        bottom: auto;

        z-index: 2;

        width: 100vw;
        height: 100vh;
    }


    .menu {

        display: block;

        opacity: 1;
        visibility: visible;
        transition: all .5s cubic-bezier(0.80, 0.05, 0.35, 1.00);
    }
    #btn-menu {

        position: absolute;
        bottom: 15px;
        left: 15px;

        z-index: 2;
    }

    #ico-object-top {

        transform: translateY(9px);
    }
    #ico-object-bottom {

        transform: translateY(-9px);
    }
}

#btn-menu {

    background-color: transparent;
    color: white;

    height: 20px;

    position: static;

    z-index: 2;

    @media screen and (min-width: 840px) {

        display: none;
    }
}
