[is='navigation-sub'] {
  margin: 1.75rem 0 0;

  @media (min-width: $breakpoint-s) {
    margin-top: 2rem;
  }

  &:first-child {
    margin-top: 0;
  }

  .navigation-sub {
    width: 100%;

    .menu {
      @import 'partials/list/style';
    }
  }
}
