block-page-header.snippet {
  display: block;

  .container {
    .company & {
      margin: 0 auto;
      max-width: $global-container-width-m;
      padding: 0 $global-container-padding-s;
      width: 100%;

      @media (min-width: $breakpoint-s) {
        padding: 0 $global-container-padding-m;
      }

      @media (min-width: $breakpoint-xxl) {
        padding: 0 $global-container-padding-l;
      }
    }
  }
}
