////////////////////////////////////////////////////////////////////////////////
// LAYOUT
////////////////////////////////////////////////////////////////////////////////

body {
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: $global-container-max-width;
  width: 100%;
}

.snippet-layout {
  > .page,
  > .main {
    padding: 5rem 0 5.5rem;

    // @media (min-width: $breakpoint-m) {
    //   background-color: transparent;
    // }
  }

  > .footer {
    background-color: #051d87;
    bottom: 0;
    padding: 1.25rem 0;
    position: fixed;
    width: 100%;
    z-index: 66;

    @media (min-width: $breakpoint-m) {
      background-color: transparent;
    }

    @at-root [is='layout-contact']#{&} {
      @media (min-width: $breakpoint-m) {
        background-color: #051d87;
      }
    }
  }
}
