////////////////////////////////////////////////////////////////////////////////
// LAYOUT
////////////////////////////////////////////////////////////////////////////////

body {
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: $global-container-max-width;
  padding: 0 $global-container-padding-s;
  width: 100%;

  @media (min-width: $breakpoint-s) {
    padding: 0 $global-container-padding-m;
  }

  @media (min-width: $breakpoint-xxl) {
    padding: 0 $global-container-padding-l;
  }
}

.snippet-layout {
  > .header,
  > .footer {
    height: 5.5rem;
  }

  > .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 $global-container-padding-s;

    @media (min-width: $breakpoint-s) {
      padding: 0 $global-container-padding-m;
    }

    @media (min-width: $breakpoint-xxl) {
      padding: 0 $global-container-padding-l;
    }
  }

  > .page,
  > .main {
    padding: 5rem 0 9.5rem;
  }

  > .main {
    @at-root [is='layout-contact']#{&} {
      padding-bottom: 7.5rem;
    }
  }

  > .footer {
    background-color: #051d87;
    bottom: 0;
    padding: 1.25rem $global-container-padding-s;
    position: fixed;
    width: 100%;
    z-index: 66;

    @media (min-width: $breakpoint-s) {
      padding: 1.25rem $global-container-padding-m;
    }

    @media (min-width: $breakpoint-l) {
      padding: 1.25rem $global-container-padding-l;
    }

    @media (min-width: $breakpoint-xxl) {
      background-color: transparent;
    }

    @at-root [is='layout-contact']#{&} {
      @media (min-width: $breakpoint-xxl) {
        background-color: #051d87;
      }
    }
  }
}
