[is='card-contact'] {
  .card-contact {
    display: flex;
    justify-content: flex-end;
  }

  .details {
    text-align: right;

    &-tel,
    &-mail {
      color: $c-white;
      display: block;
      font-size: 0.9375rem;

      @media (min-width: $breakpoint-l) {
        font-size: 1rem;
      }

      &:hover,
      &:focus {
        color: $c-nav-hover;
      }
    }
  }
}
