[is='card-contact'] {
  .card-contact {
    display: flex;
    justify-content: flex-end;
  }

  .details {
    padding: 0 1.5rem 0 0;
    text-align: right;

    &-tel,
    &-mail {
      color: $c-white;
      display: block;
    }
  }
}
