[is='layout-home'] {
  .home {
    &-main {
      .artwork {
        margin: 0 auto;

        svg {
          display: block;
          max-height: 36vh;
          width: 100%;
        }
      }
    }
  }
}
